@import url(root.css);

*{
    margin: 0;
}

/* Logo bolon menu heseg*/
header{
    height: 15vh;
    background-color: var(--main-bg-color);
    font-family: var(--main-font);
}

/*Logo heseg*/
.logo{
    height: 10vh;
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding-left: 0;
    /*Logonii hemjee*/
    & img{
        width: 3.1rem;
        height: 3.1rem;
        padding: 0.6rem 1.2rem;
        transition: transform 500ms;
    }

    & img:hover{
        width: 3.2rem;
        height: 3.2rem;
        border-bottom: 1px solid white;
        transform: translateY(-0.3rem);
    }
 }

/* Logo hover*/
.drop:hover  .drop-player{
    display: block;
}

/*Logo hover roster heseg*/
.drop-player{
    display: none;
    position: absolute;
    background-color:white;
    border-bottom: 0.8rem solid var(--main-bg-color);
    width: 100%;
    height: 8.75rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    left: 0;
    z-index: 1;
    font-weight: bold;
    animation: growDown 400ms;
    transform-origin: top center;

    /*Roster toglogciin ners*/
    & a{
        text-decoration: none;
        color: var(--bg-color);
        font-size: 0.9vw;
        text-align: left;
        display: block; 
        padding: 3px;
        transition: transform 100ms;
    }

    /*Roster toglogciin ner hover*/
    & a:hover{
        color: var(--main-bg-color);
        font-size: 1vw;
        transform: translateX(1rem);
    }

    /*Roster toglogcdiin bairlaliin title*/
    & h3{
        color: var(--main-bg-color);
        padding-bottom: 1rem;
        margin-left: 0.75rem;
    }

    /*Bairlaliin title bolon toglogciin zaag*/
    & h3::after{
        display: block;
        content: "";
        height: 0.5rem;
        width: 2rem;
        border-radius: 3px;
        background: var(--main-bg-color);
        margin-top: 0.3rem;
    }
}

/* Roster unaltiin keyframe */
@keyframes growDown {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

/*Toglogciin bairlal*/
.column{
    float: left;
    width: 18%;
    padding: 0.6rem;
    border-right: 1px solid var(--main-bg-color);

    /*Toglogchiin number */
    & span{
        color: #2758CC;
        padding: 0.5rem; 
    }
} 

/* nav heseg menu bolon honh, notification button  */
nav{
    display: grid;
    grid-template-rows: auto auto;
    font-family: var(--font);
    color: white;
}

/*Menu heseg*/
.menu{
    height: 5vh;
    display: flex;
    list-style-type: none;
    justify-content: center;
    font-size: 17px;
    font-family: var(--font);
    padding-left: 0;

    /*Menu text*/
    & a{
        padding: 1.55rem 1.8rem 0.65rem;
        text-decoration: none;
        color: white;
        border-bottom: 3px solid white;
    }

    /*Menu hover*/
    & a:hover{
        border-bottom: 3px solid var(--main-bg-color);
    }
}

/* not button heseg buheldee */
.not{
    margin-top: -2.5rem;
    justify-content: flex-end;
    display: flex;
    padding-right: 7.2rem;
    & .not-sec{
        padding-left: 0.5rem;
    }

}

/* honhnii heseg */
.honh{
    display: flex;
    justify-content: center;
    padding-top: 5px;
    height: 1.8rem;
    width: 2.1rem;
    display: flex;
    border: 2px solid white;
    border-radius: 4px;
}

/* email button */
.notbut{
    height: 2.36rem;
    padding-top: 5px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: var(--main-bg-color);
    color: white;
    font-family: var(--font);
    font-size: 17px;
    display: flex;

    & span{
        margin-right: 3px;
    }
}

/* email button daranguut unah form heseg */
.email{
    display: none;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    width: 22rem;
    padding: 1.5rem;
    margin-top: 0.2rem;
    margin-right: 1.1rem;
    justify-content: center;
    right: 0;
    color: black;
    font-size: 16px;
}

/* email bichih input heseg */
.email-input{
    width: 12rem;
    height: 1.3rem;
    padding: 2px 4px;
    border: 1px solid var(--main-bg-color) ;
}

/* email-iin submit button */
.email-btn{
    height: 1.5rem;
    background-color: #050c1c;
    color: white;
    font-family: var(--font);
    border: none;
    border-radius: 3px;
    
}

/* dark light button heseg */
.dark{
    padding-left: 0.5rem;
    & .switch{
        display: flex;
        justify-content: center;
        height: 2.1rem;
        width: 2.2rem;
        border: 2px solid white;
        border-radius: 4px;
        /* background-color: #0B193A; */
      }
      
    & .switch input {
        display: none;
      }
}

/* sar bolon nar heseg */
.shil{
    padding-top: 3px;
    display: flex;
    justify-content: center;
}

#dark{
    display: flex;
}

#light{
    display: none;
    margin-top: 2px;
}


/*Cover heseg*/
.cover{
    display: grid;
    grid-template-columns: 100% 30%;
    height: 80vh;
    overflow: hidden;
}

/* Tom zurag */
.big{
    position: relative;
    width: 100%;
    & .a1{
        background-image: linear-gradient(to right , rgba(17, 23, 58, 0.1), rgba(0, 0, 0, 0.9)),
         url('/assets/cover.jpeg');
    }
    & .a2{
        background-image: linear-gradient(to right, rgba(17, 23, 58, 0.1), rgba(0, 0, 0, 0.9)),
        url('/assets/start.jpg');
    }
    & .a3{
        background-image: linear-gradient(to right, rgba(17, 23, 58, 0.1), rgba(0, 0, 0, 0.9)),
        url('/assets/allstar-cover.jpg');
    }
    & .a4{
        background-image: linear-gradient(to right, rgba(17, 23, 58, 0.1), rgba(0, 0, 0, 0.9)),
        url('/assets/monh.jpg');
    }
  }

/*1 tom zuragnii heseg*/
.slide {
    display: none;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    animation: zoomlelt 6s infinite;
}

@keyframes zoomlelt {
    50% {
        scale: 1.1;
    }
}

/* Mini zurag */
.mini{
    margin-left: -60%;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    height: 80vh;
  }

/*1 mini heseg*/
.m-one {
    opacity: 0.8;
    & img{
       margin-top: 0.7rem;
       width: 35%;
       border-radius: 1rem;
    }
  }
  
.active {
    animation: a 6s infinite;
  } 
  
@keyframes a {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 0;
    }
  }

/*Togloltiin heseg*/
.match{
    height: 25vh;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    overflow-x: scroll;
    padding: 1.5rem;
    font-family: var(--font);
    color: white;

    /*Togloj bui bagiin logo*/
    & img{
        width: 3.75rem;
        height: 3.75rem;
    }
}
.buhel{
    display: grid;
    grid-template-rows: auto auto;
    background-color: var(--bg-color);
    border-radius: 1.55rem;
    height: 5.625rem;
    width: 15rem;
    margin: 1.25rem;
    padding: 1.8rem 0.9rem;
    justify-content: center;

    /*Bagiin logo bairluulalt*/
    & section{
        margin: 0rem 0.5rem;
        text-align: center;
    }
}

.game{
    grid-row: 1;
    display: flex;
}

/*Togloltiin minut bolon Final*/
.final-text{
    padding-top: 0.3rem;
    font-size: 10px;
    color: #f04040;
    text-align: center;
}

/*Onoonii haritsaa*/
.team{
    font-size: 20px;
    display: flex;
}

.buhel:hover .game{
    opacity: 0;
    transition: 0.2s;
}

.buhel:hover .detail{
    opacity: 1;
}

/* Game hover detail*/
.detail{
    grid-row: 2;
    opacity: 0;
    transform: translateY(-4rem);
	transition: 0.8s;

    & p{
        font-size: 20px;
        color: white;
        text-align: center;
    }

    & a{
        text-decoration: none;
    }
}

/*Medeenii heseg*/
.news{
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-flow: column;
    overflow-x: scroll;
    height: 60vh;
    padding: 3rem;
}

/* 1 medeenii heseg */
.medee{
    font-family: var(--font);
    margin: 1.25rem;
    background-color: white;
    border-radius: 5px;  
    height: 24rem;
    overflow: hidden;

    /* Medeenii zurag */
    & img{
        object-fit: cover;
        height: 60%;
        width: 100%;
    }
}

/* Medeenii text heseg */
.title{
    background-color: white;
    padding: 1.25rem;

    /* Garchignii doodoh zuraas */
    & h5::after{
        display: block;
        content: "";
        height: 2px;
        width: 100%;
        border-radius: 3px;
        background: var(--main-bg-color);
        margin-top: 1.25rem;
    }
}

/* Medeenii zuragnii hover */
.medee:hover .zurag{
    height: 30%;
    transition-duration: 0.6s;
    transition-timing-function: ease-in;
}

/* Medeenii title hover */
.medee:hover .title{
    height: 70%;
    border-radius: 5px;
}

/* Medeenii delgerengui heseg */
.desc{
    padding-top: 0.6rem;
    display: none;
    color: #666C74;
    font-size: 10px;
    text-align: justify;
}

/* Medeenii delgerengui hesgiin hover */
.medee:hover .desc{
    display: block;
}

/* Ad heseg */
.ad{
    & img{
        width: 60vw;
        border-radius: 5px;
        display: block;
        margin: auto;
        margin-top: 1.9rem;
    }

}

/* Leaderboard heseg buheldee */
.grid{
    display: grid;
    gap: 3px;
    padding: 3rem;
    width: 65vw;
    margin: auto;
    font-family: var(--font);

    /* Leaderboardnii heseg bur */
    & .sons{
        color: white;
        border-radius: 5px;
    }

    /* Leaderboard title */
    & .item1{
        grid-column: 1 / span 2;
        background-color: var(--title-bg-color);
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        text-align: center;

    }

    /* Jagsaalt heseg */
    & .item2{
        background-color: var(--bg-color);
        width: 25vw;
        grid-row: 2 / span 2;

        & ul{
            list-style-type: none;
            display: flex;
            justify-content: space-around;
            padding: 0;
        }
        & li{
            margin: 0.6rem;
            font-size: 1vw;
        }
        & p{
            background-color: var(--title-bg-color);
        }
    }

    /* Search heseg */
    & .item3{
        width: 40vw;
        grid-row: 2 ;
        background-color: var(--title-bg-color);
        height: 2.5rem;
        text-align: center;
    }

    /* Player profile heseg */
    & .item4{
        width: 40vw;
        grid-row: 3;
        color: black;

        /* Zuragnii heseg */
        & .pic{
            display: flex;
            justify-content: space-around;
        }

        & .playerpro{
            width: 20vw;
        }

        /* Logo bolon textuud */
        & .picture{
            text-align: center;
            & .ovog{
                font-size: 1vw;
            }

            & .name{
                font-size: 3vw;
                font-weight: bolder;
            }

            & .bairlal{
               font-size: 0.6vw;
            }

            & .teamlogo{
                width: 6.25vw;
            }
        }


        /* Player statistic heseg */
        & .profile{
            height: 6.25rem;
            background-color: var(--title-bg-color);
            color: white;
            display: flex;
            padding: 0.6rem;
            justify-content: space-between;

            & div{
                text-align: center;
                margin: auto;
            }

            /* Statsnii ner */
            & .tit{
                font-size: 0.7vw;
            }

            /* Toon uzuulelt */
            & .stats{
                font-size: 2vw;
            }
        }
    }
}

footer{
    height: 20rem;
    background-color: var(--main-bg-color);
}
/* .dark{
    padding-top: 10rem;
    padding-left: 5rem;
    color: white;
    & .switch{
        display: flex;
        justify-content: center;
        height: 2.2rem;
        width: 2.2rem;
        border: 2px solid white;
        border-radius: 2px;
    }
      
    & .switch input{
        display: none;
    }
}

.shil{
    padding-top: 4px;
    display: flex;
}

#dark{
    display: flex;
}

#light{
    display: none;
} */

@media screen and (max-width: 1024px) {

    .logo{
        & img{
            height: 2.5rem;
            width: 2.5rem;
        }
        & img:hover{
            width: 2.6rem;
            height: 2.6rem;
        }
    }
    .drop-player{
        & a{
            font-size: 1vw;
        }
    }
    .column{
        padding-right: 0;
    }
    .cover{
        height: 65vh;
    }
    .slide {
        & img{
            height: 65vh;
        }
    }
    .mini{
        height: 65vh;
      }
    .m-one {
        & img{
           margin-top: 0.5rem;
        }
      }
    .news{
        grid-template-columns: 30vw 30vw 30vw 30vw;
    }
    
}

@media screen and (max-width: 768px) {

    .logo{
        & img{
            height: 2.3rem;
            width: 2.3rem;
        }
        & img:hover{
            width: 2.5rem;
            height: 2.5rem;
            }
    }
    .drop-player{
        height: 15rem;
       & a{
        font-size: 1.4vw;
       }
       & a:hover{
        font-size: 1.4vw;
       }
       & h3{
        padding-bottom: 0.5rem;
       }
    }
    .column{
        width: 30%;
        margin-left: 0.5rem;
    }
    .cover{
        height: 60vh;
    }
    .slide {
        & img{
            height: 60vh;
        }
    }
    .mini{
        margin-left: -75%;
        height: 60vh;
    }
    .m-one {
        & img{
           margin-top: 1rem;
           width: 40%;
        }
    }
    .news{
        height: 58vh;
        padding: 0.5rem;
        grid-template-columns: 40vw 40vw 40vw 40vw;
    }

    .grid{
        width: 80vw;
        grid-template-columns: auto;
    
        & .item1{
            grid-row: 1;
            width: 80vw;
        }

        & .item2{
            grid-row: 2;
            width: 80vw;
        }
        & .item3{
            grid-row: 3;
            width: 80vw;
        }
        & .item4{
            grid-row: 4;
            width: 80vw;
        } 
     }    
}

@media screen and (max-width: 620px) {
    .logo{
        justify-content: space-evenly;
       & img{
        width: 2.5rem;
        height: 2.5rem;
        padding: 0;
        margin-top: 1rem;
       }
       & img:hover{
        width: 2.6rem;
        height: 2.6rem;
        }
    }
    .cover{
        grid-template-columns: auto;
        grid-template-rows: 70% 30%;
        height: 50vh;
    }
    .big{
        grid-row: 1;
    }
    .slide{
        & img{
            height: 50vh;
        }
    }
    .mini{
        margin: 0;
        height: 10vh;
        grid-row: 2;
        grid-template-rows: auto;
        grid-template-columns: 25% 25% 25% 25%;
        width: 100%;
    }
    .m-one{
        & img{
            width: 100%;
        }
    }
    .drop-player{
        height: 21rem;
       & a{
        font-size: 2vw;
       }
       & a:hover{
        font-size: 2vw;
       }
       & h3{
        padding-bottom: 0.5rem;
       }
    }
    .column{
        width: 40%;
        margin-left: 2rem;
    }
    .news{
        padding: 0.5rem;
        grid-template-columns: 50vw 50vw 50vw 50vw;
    }
}

@media screen and (max-width: 425px) {

    .menu{
        justify-content: space-evenly;
        font-size: 16px;
        padding: 0.5rem;
        & a{
            border-bottom: none;
        }
    }
    .drop-player{
        justify-content: center;
        padding: 0;
        height: 37rem;
       & a{
        font-size: 3vw;
       }
       & a:hover{
        font-size: 3vw;
       }
       & h3{
        padding-bottom: 0.5rem;
       }
       & h3::after{
        width: 100%;
        height: 0.1rem;
    }
    }
    .column{
        margin-left: 5.5rem;
        text-align: center;
        width: 50%;
        border-right: none;
    }

    .cover{
        border-top: 2px solid white;
        height: 40vh;
    }
    .slide {
        & img{
            height: 40vh;
        }
    }
    
    .news{
        padding: 1rem;
        grid-template-columns: 80vw 80vw 80vw 80vw;
    }

    .ad{
        & img{
            width: 85vw;
        }
    }

    .grid{
        width: 90vw;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 0;

        & .item1{
            width: 90vw;
        }
        & .item2{
            width: 90vw;
        }
        & .item3{
            width: 90vw;
        }
        & .item4{
            width: 90vw;
        }
    }
}

@media screen and (max-width: 320px) {
    .logo{
       & img{
        width: 2.0rem;
        height: 2.0rem;
       }
    }
    .cover{
        height: 30vh;
    }
    .slide {
        & img{
            height: 30vh;
        }
    }
    .match{
        padding: 0;
        
        & img{
            width: 3.0rem;
            height: 3.0rem;
        }
    }
    .game{  
        height: 5rem;
        width: 14rem;
    }

    .news{
        grid-template-columns: 95vw 95vw 95vw 95vw;
    }
}
