:root{
    --main-bg-color: #0B193A;
    --bg-color: #1F325CE5;
    --title-bg-color: #1F325C;
    --main-font: Arial, Helvetica, sans-serif;
    --font: 'Poppins', sans-serif;
}

*{
    margin: 0;
}

/* Logo bolon menu heseg*/
header{
    height: 15vh;
    background-color: var(--main-bg-color);
    font-family: var(--main-font);
}

/*Logo heseg*/
.logo{
    height: 10vh;
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding-left: 0;
    /*Logonii hemjee*/
    & img{
        width: 3.1rem;
        height: 3.1rem;
        padding: 0.6rem 1.2rem;
        transition: transform 500ms;
    }

    & img:hover{
        width: 3.2rem;
        height: 3.2rem;
        border-bottom: 1px solid white;
        transform: translateY(-0.3rem);
    }
 }

/* Logo hover*/
.drop:hover  .drop-player{
    display: block;
}

/*Logo hover roster heseg*/
.drop-player{
    display: none;
    position: absolute;
    background-color:white;
    border-bottom: 0.8rem solid var(--main-bg-color);
    width: 100%;
    height: 8.75rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    left: 0;
    z-index: 1;
    font-weight: bold;
    animation: growDown 400ms;
    transform-origin: top center;

    /*Roster toglogciin ners*/
    & a{
        text-decoration: none;
        color: var(--bg-color);
        font-size: 0.9vw;
        text-align: left;
        display: block; 
        padding: 3px;
        transition: transform 100ms;
    }

    /*Roster toglogciin ner hover*/
    & a:hover{
        color: var(--main-bg-color);
        font-size: 1vw;
        transform: translateX(1rem);
    }

    /*Roster toglogcdiin bairlaliin title*/
    & h3{
        color: var(--main-bg-color);
        padding-bottom: 1rem;
        margin-left: 0.75rem;
    }

    /*Bairlaliin title bolon toglogciin zaag*/
    & h3::after{
        display: block;
        content: "";
        height: 0.5rem;
        width: 2rem;
        border-radius: 3px;
        background: var(--main-bg-color);
        margin-top: 0.3rem;
    }
}

/* Roster unaltiin keyframe */
@keyframes growDown {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

/*Toglogciin bairlal*/
.column{
    float: left;
    width: 18%;
    padding: 0.6rem;
    border-right: 1px solid var(--main-bg-color);

    /*Toglogchiin number */
    & span{
        color: #2758CC;
        padding: 0.5rem; 
    }
} 

/*Menu heseg*/
.menu{
    height: 5vh;
    display: flex;
    list-style-type: none;
    justify-content: center;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    padding-left: 0;

    /*Menu text*/
    & a{
        padding: 1.55rem 1.8rem 0.65rem;
        text-decoration: none;
        color: white;
        border-bottom: 3px solid white;
    }

    /*Menu hover*/
    & a:hover{
        border-bottom: 3px solid var(--main-bg-color);
    }
}

/*Cover heseg*/
.cover{
    display: grid;
    grid-template-columns: 100% 30%;
    height: 80vh;
    overflow: hidden;
}

/* Tom zurag */
.big{
    position: relative;
    width: 100%;
  }

/*1 tom zuragnii heseg*/
.slide {
    display: none;
    & img{
        width: 100%;
        height: 80vh;
        object-fit: cover;
    }
}

/* Mini zurag */
.mini{
    margin-top: 0.3rem;
    margin-left: -60%;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    height: 80vh;
  }

/*1 tom zuragnii heseg*/
.m-one {
    opacity: 0.8;
    /* transition: opacity 0.6s ease; */
    & img{
       width: 35%;
       border-radius: 1rem;
    }
  }
  
.active {
    opacity: 1;
  } 
  

/* .a {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
@keyframes a {
    0% {
        opacity: 0.8;
    } 
    100% {
        opacity: 1;
    }
  } */



/*Togloltiin heseg*/
.match{
    height: 25vh;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    overflow-x: scroll;
    padding: 1.5rem;
    font-family: var(--font);
    color: white;

    /*Togloj bui bagiin logo*/
    & img{
        width: 3.75rem;
        height: 3.75rem;
    }
}
.buhel{
    display: grid;
    grid-template-rows: auto auto;
    background-color: var(--bg-color);
    border-radius: 1.55rem;
    height: 5.625rem;
    width: 15rem;
    margin: 1.25rem;
    padding: 1.8rem 0.9rem;
    justify-content: center;

    /*Bagiin logo bairluulalt*/
    & section{
        margin: 0rem 0.5rem;
        text-align: center;
    }
}

.game{
    grid-row: 1;
    display: flex;
}

/*Togloltiin minut bolon Final*/
.final-text{
    padding-top: 0.3rem;
    font-size: 10px;
    color: #f04040;
    text-align: center;
}

/*Onoonii haritsaa*/
.team{
    font-size: 20px;
    display: flex;
}

.buhel:hover .game{
    opacity: 0;
    transition: 0.2s;
}

.buhel:hover .detail{
    opacity: 1;
}

/* Game hover detail*/
.detail{
    grid-row: 2;
    opacity: 0;
    transform: translateY(-4rem);
	transition: 0.8s;

    & p{
        font-size: 20px;
        color: white;
        text-align: center;
    }

    & a{
        text-decoration: none;
    }
}

/*Medeenii heseg*/
.news{
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-flow: column;
    overflow-x: scroll;
    height: 60vh;
    padding: 3rem;
}

/* 1 medeenii heseg */
.medee{
    font-family: var(--font);
    margin: 1.25rem;
    background-color: white;
    border-radius: 5px;  
    height: 24rem;
    overflow: hidden;

    /* Medeenii zurag */
    & img{
        object-fit: cover;
        height: 60%;
        width: 100%;
    }
}

/* Medeenii text heseg */
.title{
    background-color: white;
    padding: 1.25rem;

    /* Garchignii doodoh zuraas */
    & h5::after{
        display: block;
        content: "";
        height: 2px;
        width: 100%;
        border-radius: 3px;
        background: var(--main-bg-color);
        margin-top: 1.25rem;
    }
}

/* Medeenii zuragnii hover */
.medee:hover .zurag{
    height: 30%;
    transition-duration: 0.6s;
    transition-timing-function: ease-in;
}

/* Medeenii title hover */
.medee:hover .title{
    height: 70%;
    border-radius: 5px;
}

/* Medeenii delgerengui heseg */
.desc{
    padding-top: 0.6rem;
    display: none;
    color: #666C74;
    font-size: 10px;
    text-align: justify;
}

/* Medeenii delgerengui hesgiin hover */
.medee:hover .desc{
    display: block;
}

/* Ad heseg */
.ad{
    & img{
        width: 60vw;
        border-radius: 5px;
        display: block;
        margin: auto;
        margin-top: 1.9rem;
    }

}

/* Leaderboard heseg buheldee */
.grid{
    display: grid;
    gap: 3px;
    padding: 3rem;
    width: 65vw;
    margin: auto;
    font-family: var(--font);

    /* Leaderboardnii heseg bur */
    & .sons{
        color: white;
        border-radius: 5px;
    }

    /* Leaderboard title */
    & .item1{
        grid-column: 1 / span 2;
        background-color: var(--title-bg-color);
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        text-align: center;

    }

    /* Jagsaalt heseg */
    & .item2{
        background-color: var(--bg-color);
        width: 25vw;
        grid-row: 2 / span 2;

        & ul{
            list-style-type: none;
            display: flex;
            justify-content: space-around;
            padding: 0;
        }
        & li{
            margin: 0.6rem;
            font-size: 1vw;
        }
        & p{
            background-color: var(--title-bg-color);
        }
    }

    /* Search heseg */
    & .item3{
        width: 40vw;
        grid-row: 2 ;
        background-color: var(--title-bg-color);
        height: 2.5rem;
        text-align: center;
    }

    /* Player profile heseg */
    & .item4{
        width: 40vw;
        grid-row: 3;
        color: black;

        /* Zuragnii heseg */
        & .pic{
            display: flex;
            justify-content: space-around;
        }

        & .playerpro{
            width: 20vw;
        }

        /* Logo bolon textuud */
        & .picture{
            text-align: center;
            & .ovog{
                font-size: 1vw;
            }

            & .name{
                font-size: 3vw;
                font-weight: bolder;
            }

            & .bairlal{
               font-size: 0.6vw;
            }

            & .teamlogo{
                width: 6.25vw;
            }
        }


        /* Player statistic heseg */
        & .profile{
            height: 6.25rem;
            background-color: var(--title-bg-color);
            color: white;
            display: flex;
            padding: 0.6rem;
            justify-content: space-between;

            & div{
                text-align: center;
                margin: auto;
            }

            /* Statsnii ner */
            & .tit{
                font-size: 0.7vw;
            }

            /* Toon uzuulelt */
            & .stats{
                font-size: 2vw;
            }
        }
    }
}

/* Footer heseg */
footer{
    height: 20rem;
    background-color: var(--main-bg-color);
}

@media screen and (max-width: 1024px) {

    .logo{
        & img{
            height: 2.5rem;
            width: 2.5rem;
        }
        & img:hover{
            width: 2.6rem;
            height: 2.6rem;
        }
    }
    .drop-player{
        & a{
            font-size: 1vw;
        }
    }
    .column{
        padding-right: 0;
    }
    .news{
        grid-template-columns: 30vw 30vw 30vw 30vw;
    }
    
}

@media screen and (max-width: 768px) {

    .logo{
        & img{
            height: 2.3rem;
            width: 2.3rem;
        }
        & img:hover{
            width: 2.5rem;
            height: 2.5rem;
            }
    }
    .drop-player{
        height: 15rem;
       & a{
        font-size: 1.4vw;
       }
       & a:hover{
        font-size: 1.4vw;
       }
       & h3{
        padding-bottom: 0.5rem;
       }
    }
    .column{
        width: 30%;
        margin-left: 0.5rem;
    }
    
    .cover{
        height: 65vh;
    }

    .news{
        height: 58vh;
        padding: 0.5rem;
        grid-template-columns: 40vw 40vw 40vw 40vw;
    }

    .grid{
        width: 80vw;
        grid-template-columns: auto;
    
        & .item1{
            grid-row: 1;
            width: 80vw;
        }

        & .item2{
            grid-row: 2;
            width: 80vw;
        }
        & .item3{
            grid-row: 3;
            width: 80vw;
        }
        & .item4{
            grid-row: 4;
            width: 80vw;
        } 
     }    
}

@media screen and (max-width: 620px) {
    .logo{
        justify-content: space-evenly;
       & img{
        width: 2.5rem;
        height: 2.5rem;
        padding: 0;
        margin-top: 1rem;
       }
       & img:hover{
        width: 2.6rem;
        height: 2.6rem;
        }
    }

    .drop-player{
        height: 21rem;
       & a{
        font-size: 2vw;
       }
       & a:hover{
        font-size: 2vw;
       }
       & h3{
        padding-bottom: 0.5rem;
       }
    }
    .column{
        width: 40%;
        margin-left: 2rem;
    }

    .news{
        padding: 0.5rem;
        grid-template-columns: 50vw 50vw 50vw 50vw;
    }
}


@media screen and (max-width: 425px) {

    .menu{
        justify-content: space-evenly;
        font-size: 16px;
        padding: 0.5rem;
        & a{
            border-bottom: none;
        }
    }
    .drop-player{
        justify-content: center;
        padding: 0;
        height: 37rem;
       & a{
        font-size: 3vw;
       }
       & a:hover{
        font-size: 3vw;
       }
       & h3{
        padding-bottom: 0.5rem;
       }
       & h3::after{
        width: 100%;
        height: 0.1rem;
    }
    }
    .column{
        margin-left: 5.5rem;
        text-align: center;
        width: 50%;
        border-right: none;
    }

    .cover{
        border-top: 2px solid white;
        height: 50vh;
    }
    
    .news{
        padding: 1rem;
        grid-template-columns: 80vw 80vw 80vw 80vw;
    }

    .ad{
        & img{
            width: 85vw;
        }
    }

    .grid{
        width: 90vw;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 0;

        & .item1{
            width: 90vw;
        }
        & .item2{
            width: 90vw;
        }
        & .item3{
            width: 90vw;
        }
        & .item4{
            width: 90vw;
        }
    }
}

@media screen and (max-width: 320px) {
    .logo{
       & img{
        width: 2.0rem;
        height: 2.0rem;
       }
    }
    .cover{
        height: 40vh;
    }
    .match{
        padding: 0;
        
        & img{
            width: 3.0rem;
            height: 3.0rem;
        }
    }
    .game{  
        height: 5rem;
        width: 14rem;
    }

    .news{
        grid-template-columns: 95vw 95vw 95vw 95vw;
    }
}
