@import url(root.css);
*{
    margin: 0%;
    padding: 0%;
}

header {
    height: 7.5rem;
    background-color: var(--main-bg-color);
    font-family: var(--main-font);

    /*team logos*/
    & .logos {
        display: flex;
        list-style-type: none;
        justify-content: center;

        /*Logonii hemjee*/
        & img {
        width: 3.1rem;
        height: 3.1rem;
        padding: 0.6rem 1.2rem;
        transition: transform 500ms;
        }

        & img:hover {
        width: 3.2rem;
        height: 3.2rem;
        border-bottom: 1px solid var(--main-bg-color2);
        transform: translateY(-0.3rem);
        }
    }
    /*menu*/
    & .menu {
        padding: 0.58rem;
        display: flex;
        list-style-type: none;
        justify-content: center;
        font-size: 17px;
        font-family: var(--font);

        /*Menu text*/
        & a {
        padding: 1.55rem 1.8rem 0.65rem;
        text-decoration: none;
        color: var(--main-bg-color2);
        border-bottom: 3px solid var(--main-bg-color);
        }

        /*Menu hover*/
        & a:hover {
        border-bottom: 3px solid var(--main-bg-color2);
        }
    }
}

main{

    /*AD section*/
    .ad{
        display: flex;
        margin: 5rem;

        & img{
            margin-left: 5rem;
            border-radius: 1rem;
            width: 35rem;
        }

        & .league-event-box{
            margin-right: 5rem;
            background-color: var(--games-bg-color);
            border-radius: 1rem;
            width: 60%;
            height: 35rem;
            margin-left: 15rem;
            & h1{
                background-color: var(--bg-color);
                border-radius: 1rem;
                padding: 1.5rem;
                color: var(--main-bg-color2);
                font-family: var(--font);
                text-align: center;
            }
            & .ads{
                justify-content: center;
                & li{
                    list-style-type: none;
                    background-color: var(--league-ad-color);
                    margin-top: 3rem;
                    padding: 1rem;
                    width: 70%;
                    margin-left: 5rem;
                    border-radius: 1rem;

                     & figure{
                        
                        & img{
                            margin-left: 20rem;
                        }
                        & figcaption{
                            margin-left: 2rem;
                        }
                     }
                }
            }
        }
    }

    /*News story*/
    .news{
        background-color: var(--bg-color);
        display: flex;
        padding: 3rem;
        justify-content: center;
    
    /* 1 medeenii heseg */
    & .medee{
        font-family: var(--font);
        margin: 1.25rem;
        background-color: white;
        border-radius: 5px;  
        height: 24rem;
        width: 25%;
        overflow: hidden;
    
            /* Medeenii zurag */
            & img{
                object-fit: cover;
                height: 60%;
                width: 100%;
            }
        }
    }
    /* Medeenii text heseg */
    .title{
        background-color: white;
        padding: 1.25rem;
    
        /* Garchignii doodoh zuraas */
        & h5::after{
            display: block;
            content: "";
            height: 2px;
            width: 100%;
            border-radius: 3px;
            background: var(--main-bg-color);
            margin-top: 1.25rem;
        }
    }
    
    /* Medeenii zuragnii hover */
    .medee:hover .zurag{
        height: 30%;
        transition-duration: 0.6s;
        transition-timing-function: ease-in;
    }
    
    /* Medeenii title hover */
    .medee:hover .title{
        height: 70%;
        border-radius: 5px;
    }
    .desc{
        padding-top: 0.6rem;
        display: none;
        color: #666C74;
        font-size: 10px;
        text-align: justify;
    }
    
    /* Medeenii delgerengui hesgiin hover */
    .medee:hover .desc{
        display: block;
    }
    
    main{
        display: grid;
    
        & #adimg{
            padding: 3rem;
        }
    }

    /*Table of teams position*/

}
 /*footer*/
 footer {
    height: auto;
    background-color: var(--main-bg-color);
    margin-top: 5rem;
    & .title {
      color: var(--footer-color);
      font-weight: 300;
      font-size: 1.5rem;
      margin-left: 18rem;
      padding-top: 2rem;
    }
    & .main {
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      color: var(--footer-color);
      & .contact-us {
        margin-right: 20rem;
        & ul {
          margin-top: 1rem;
          & li {
            list-style-type: none;
            margin-bottom: 1rem;
            align-items: center;
          }
          & img {
            margin-right: 1rem;
          }
        }
      }
      & .follow-us {
        & h3 {
        }
        & ul {
          display: flex;
          & li {
            margin-top: 1rem;
            margin-right: 1rem;
            list-style-type: none;
          }
        }
      }
    }
  }




