body {
  background-color: var(--main-bg-color2);
}

/*header*/
header {
  width: 100%;
  height: 140px;
  display: flex;
  background-color: var(--main-bg-color);
  justify-content: space-between;

  /*bagiin logo*/
  & img {
    width: 9rem;
    height: 9rem;
    margin-left: 3rem;
  }

  /*menu*/
  & ul {
    display: flex;
    list-style-type: none;
    font-family: var(--font);
    padding: 5rem;
  }

    & .menu a {
      padding: 30px 80px 11px;
      color: var(--main-bg-color2);
      text-decoration: none;
      font-size: 25px;
      font-weight: 550;
      border-bottom: 5px solid var(--bg-color);
    }

      & .menu a:hover {
        border-bottom: 5px solid var(--main-bg-color2);
      }
}

/*player profile heseg*/
.player-profile {
  display: flex;
  height: 40rem;
  background-color: var(--games-bg-color);
  border-radius: 2rem;
  margin-top: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;

  /*toglogchiin nuur zurag*/
  & img {
    width: 25rem;
    height: 35rem;
    margin-left: 5rem;
    margin-top: 5rem;
  }

  /*toglogchiin huviin dugaar*/
  & .number {
    margin-left: 3rem;
    margin-top: 2rem;
    font-size: 12rem;
    color: var(--main-bg-color);
    font-family: var(--font);;
  }

  /*toglogchiin huviin medeelel*/
  & .info {
    margin-top: 5rem;
    margin-left: 3rem;
    font-family: var(--font);;
  }
    & .lname {
      font-size: 3rem;
      color:  var(--main-bg-color);
    }
    & .fname {
      font-size: 6rem;
      color:  var(--main-bg-color);
      font-weight: 600;
    }
    & p {
      font-size: 1rem;
      color:  var(--main-bg-color);
      font-weight: 500;
      font-size: large;
      letter-spacing: 1px;
      margin-top: 2rem;
    }
}

/*recent matches husnegt*/
.recent-matches {
  background-color:  var(--games-bg-color);
  border-radius: 1rem;
  margin-top: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;

  /*husnegtiin garchig*/
  & h1 {
    color:  var(--main-bg-color2);
    background-color:  var(--title-bg-color);
    border-radius: 1rem;
    padding: 1rem;
  }

  /*toglogchiin uzuulelt*/
  & article {
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

/*season husnegt*/
.season {
  background-color:  var(--games-bg-color);
  border-radius: 1rem;
  margin-top: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;

  /*husngegtiin garchig*/
  & h1 {
    color:  var(--main-bg-color2);
    background-color:  var(--title-bg-color);
    border-radius: 1rem;
    padding: 1rem;
  }

  /*toglogchiin uzuulelt*/
  & article {
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

/*playoffs husnegt*/
.playoffs {
  background-color:  var(--games-bg-color);
  border-radius: 1rem;
  margin-top: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;

  /*husnegtiin garchig*/
  & h1 {
    color:  var(--main-bg-color2);
    background-color:  var(--title-bg-color);
    border-radius: 1rem;
    padding: 1rem;
  }

  /*toglogchiin uzuulelt*/
  & article {
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

/*footer*/
footer {
  width: 100%;
  background-color:  var(--main-bg-color);
  margin-top: 5rem;

  /*contact-us heseg*/
  & .contact {
    display: flex;
    justify-content: space-between;
    margin-top: 10rem;
  }

  /*about-us heseg*/
  & .about {
    display: flex;
  }
}


