@import url(root.css);
@import url(Player-Responsive.css);
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--main-bg-color2);
  margin: auto;
  width: 100%;
} 
/*header*/
header {
  height: 7.5rem;
  background-color: var(--main-bg-color);
  font-family: var(--main-font);

  /*team logos*/
  & .logos{
    display: flex;
    list-style-type: none;
    justify-content: center;

    /*Logonii hemjee*/
    & img{
        width: 3.1rem;
        height: 3.1rem;
        padding: 0.6rem 1.2rem;
        transition: transform 500ms;
    }

      & img:hover{
          width: 3.2rem;
          height: 3.2rem;
          border-bottom: 1px solid var(--main-bg-color2);
          transform: translateY(-0.3rem);
      }
  }
  /*menu*/
  .menu{
    padding: 0.58rem;
    display: flex;
    list-style-type: none;
    justify-content: center;
    font-size: 17px;
    font-family: var(--font);

    /*Menu text*/
    & a{
        padding: 1.55rem 1.8rem 0.65rem;
        text-decoration: none;
        color: var(--main-bg-color2);
        border-bottom: 3px solid var(--main-bg-color);
    }

    /*Menu hover*/
    & a:hover{
        border-bottom: 3px solid var(--main-bg-color2);
    }
  }
}
/*player profile heseg*/
.player-profile {
  display: flex;
  height: 40rem;
  background-color: var(--games-bg-color);
  border-radius: 2rem;
  margin-top: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;

  /*toglogchiin nuur zurag*/
  & img {
    width: 25rem;
    height: 35rem;
    margin-left: 5rem;
    margin-top: 5rem;
  }

  /*toglogchiin huviin dugaar*/
  & .number {
    margin-left: 3rem;
    margin-top: 2rem;
    font-size: 12rem;
    color: var(--main-bg-color);
    font-family: var(--font);;
  }

  /*toglogchiin huviin medeelel*/
  & .info {
    margin-top: 5rem;
    margin-left: 3rem;
  
    & .lname {
      font-size: 3rem;
      color:  var(--main-bg-color);
      font-family: var(--font);;
    }
    & .fname {
      font-size: 6rem;
      color:  var(--main-bg-color);
      font-weight: 600;
      font-family: var(--font);
    }
    & p {
      font-size: 1rem;
      color:  var(--main-bg-color);
      font-weight: 500;
      font-size: large;
      letter-spacing: 1px;
      margin-top: 2rem;
    }
  }
}

/*recent matches husnegt*/
.recent-matches {
  background-color:  var(--games-bg-color);
  border-radius: 1rem;
  margin-top: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  font-family: var(--font);

  /*husnegtiin garchig*/
  & h1 {
    color:  var(--main-bg-color2);
    background-color:  var(--title-bg-color);
    border-radius: 1rem;
    padding: 1rem;
  }

  /*toglogchiin uzuulelt*/
  & article {
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

/*season husnegt*/
.season {
  background-color:  var(--games-bg-color);
  border-radius: 1rem;
  margin-top: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  font-family: var(--font);;

  /*husngegtiin garchig*/
  & h1 {
    color:  var(--main-bg-color2);
    background-color:  var(--title-bg-color);
    border-radius: 1rem;
    padding: 1rem;
  }

  /*toglogchiin uzuulelt*/
  & article {
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

/*playoffs husnegt*/
.playoffs {
  background-color:  var(--games-bg-color);
  border-radius: 1rem;
  margin-top: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  font-family: var(--font);;

  /*husnegtiin garchig*/
  & h1 {
    color:  var(--main-bg-color2);
    background-color:  var(--title-bg-color);
    border-radius: 1rem;
    padding: 1rem;
  }

  /*toglogchiin uzuulelt*/
  & article {
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

/*footer*/
footer {
  width: 100%;
  background-color:  var(--main-bg-color);
  margin-top: 5rem;

  /*contact-us heseg*/
  & .contact {
    display: flex;
    justify-content: space-between;
    margin-top: 10rem;
  }

  /*about-us heseg*/
  & .about {
    display: flex;
  }
}


