:root{
    --main-bg-color: #0B193A;
    --main-bg-color2: white;
    --mid-bg-color:white;
    --black:black;
    --bg-color: #37466d;
    --title-bg-color: #1F325C;
    --games-bg-color: #e0e3e8;
    --text-color: #5b5b5b;
    --league-ad-color: #d9d9d9;
    --footer-color: #b0acac;
    --main-font: Arial, Helvetica, sans-serif;
    --font: 'Poppins', sans-serif;
}

[data-theme="dark"] {
    --main-bg-color: #161c2c;
    --main-bg-color2: rgb(23, 6, 6);
    --black:white;
    --bg-color:  #0c0f19;
    --title-bg-color: #212a41;
    --games-bg-color: #040507;
    --text-color: #190e0e;
    --footer-color: #231a1a;
    --main-font: Arial, Helvetica, sans-serif;
    --font: 'Poppins', sans-serif;
  }