:root{
    --main-bg-color: #0B193A;
    --main-bg-color2: white;
    --bg-color: #1F325CE5;
    --title-bg-color: #1F325C;
    --games-bg-color: #e0e3e8;
    --text-color: #5b5b5b;
    --main-font: Arial, Helvetica, sans-serif;
    --font: 'Poppins', sans-serif;
}